<h1>Blogger Edit!</h1>
<%= link_to "Back to Blogger", blogger_path(@blogger) %>
<%= form_for @blogger do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p><br>
  <p><%= f.label :age %>
  <%= f.text_field :age %></p><br>
  <p><%= f.label :bio %>
  <%= f.text_area :bio %></p><br>
  <%= f.submit %>

<% end %>
<br>
<%= button_to "Delete User", {action: :destroy, id: @blogger.id}, method: :delete, data: { confirm: "Are you sure you want to delete this blogger?" }%>
