<h1>Destination New!</h1>
<%= link_to "Back to Destination", destinations_path %>
<%= form_for @destination do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p><br>
  <p><%= f.label :country %>
  <%= f.text_field :country %></p><br>
  <%= f.submit %>

<% end %>
<br>
